<div class="container">
	<h1>New Video</h1>

	<%= form_for @video do |f| %>
	<%= render 'shared/errors', object: @video %>

	<div class="form-group">
		<%= f.label :link %>
		<%= f.text_field :link, class: 'form-control', required: true %>
		<span class="help-block">A link on the video on Youtube.</span>
	</div>

	<%= f.sbumit class: 'btn btn-default' %>
	<% end %>
</div>